<!DOCTYPE html>
<html>
    <body>
    <h3>Hi! Your e-mail address was used for register at Lymmy</h3>
    <div>
        Please verify your e-mail address by logging into Lymmy with this link: <a href="${url}">Lymmy register login</a>
    </div>
    <div>
        <p>Your verification code:</p>
        <p><b>${code}</b></p>
    </div>
    <div>
        <p>If you enter the code manually please be sure you're connected to <b>${host}</b> via https.<br/>
            You can verify that by checking the icon next to the url shown in your browser.<br/>
            This wasn't you? Then ignore this mail.</p>
    </div>
    </body>
</html>